h2
  border-top: 1px solid
  border-color: lightgrey
  padding-top: 15px

.sidebar
  position: sticky
  display: inline-block
  vertical-align: top
  overflow-y: auto
  max-height: 100vh
  top: 0
  bottom: 0
  padding: 0px
  // left: 0
  // z-index: 1

.content
  display: inline-block
