@import 'uikit.sass'

.nav-logo
  height: 60px

.docs-sidebar
  position: fixed
  top: 80px
  bottom: 0
  overflow: auto
  width: 200px

.docs-main
  left: 260px
  padding: 20px
  position: fixed
  top: 80px
  bottom: 0
  overflow: auto
  width: 66%
