@import 'uikit.sass'

@import url("code-dark.css") (prefers-color-scheme: dark);
@import url("code-light.css") (prefers-color-scheme: light);

@import 'variables.sass'

html
  scroll-padding-top: $topbar-height - 4px

.topbar
  background-color: white

.nav-logo
  height: $logo-height
