@import 'uikit.sass'
@import 'variables.sass'

h1, h2, h3, h4, h5, h6
  a
    text-decoration: none

h2
  border-top: 1px solid
  border-color: lightgrey
  padding-top: 15px

.docs-sidebar
  position: fixed
  top: $topbar-height
  bottom: 0
  overflow: auto
  width: 200px
  padding: $nav-logo-padding

@media (min-width: 640px)
  .docs-section
    padding-left: 260px
    padding-right: 50px

@media (min-width: 960px)
  .docs-section
    padding-right: 155px

@media (min-width: 1200px)
  .docs-section
    padding-right: 260px

.playground-link
  margin-top: -$base-margin-vertical
