[submodule "modules/koto-sublime"]
	path = modules/koto-sublime
	url = git@github.com:koto-lang/koto-sublime.git
[submodule "modules/uikit"]
	path = modules/uikit
	url = git@github.com:uikit/uikit.git
