{% extends "base.html" %}

{% import "news/article_meta.html" as macros %}

{% block content %}

<div class="docs-sidebar uk-visible@s">
  <nav role="navigation">
    {% include "news/page-nav.html" %}
  </nav>
</div>

<div class="docs-section uk-section">
  <div class="uk-container">
    <article class="uk-article">
      <h1 class="uk-article-title">
        {{ page.title }}
      </h1>

      {{ macros::article_meta(page=page) }}

      {{ page.content | safe }}
      <article>
  </div>
</div>

{% endblock content %}

{% block mobile_nav %}
<hr>

{% include "news/page-nav.html" %}
{% endblock mobile_nav %}
