{% extends "base.html" %}

{% import "news/article_meta.html" as macros %}

{% block content %}

<div class="uk-section">
  <div class="uk-container">
    <h1>
      News
    </h1>

    {% for page in section.pages %}
    <article class="uk-article">
      <h2 class="uk-article-title">
        <a href="{{page.permalink}}">
          {{ page.title }}
        </a>
      </h2>

      {{ macros::article_meta(page=page) }}

      <p class="uk-text-lead">
        {{ page.summary | safe }}
      </p>

      <a class="uk-link-muted uk-article-meta" href="{{page.permalink}}">
        Read
      </a>
    </article>
    {% endfor %}

  </div>
</div>

{% endblock content %}