{% extends "base.html" %}

{% block content %}

<div class="uk-section">
  <div class="uk-container">
    <div class="uk-padding-bottom">
      <div class="uk-text-lead">
        News
      </div>
    </div>

    {% for page in section.pages %}
      <div class="uk-section">
        <h1>
          <a href="{{page.permalink}}">
              {{ page.title }}
          </a>
        </h1>
        <div class="uk-text-meta">
          <a href="{{page.permalink}}">
            {{ page.date }}
          </a>
        </div>

        {{ page.content | safe }}

      </div>
    {% endfor %}

  </div>
</div>

{% endblock content %}
