<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Koto Programming Language</title>

    <link rel="stylesheet" href="/main.css" />

    <script src="/uikit.min.js"></script>
    <script src="/uikit-icons.min.js"></script>

    {% block head %} {% endblock head %}
  </head>

  <body>
    <div
      uk-sticky="sel-target: .uk-navbar-container cls-active: uk-navbar-sticky"
    >
      <nav class="uk-navbar-container uk-navbar">
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo uk-padding" href="/">
            <img class="nav-logo" src="/koto.svg" />
          </a>
        </div>

        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li class="uk-active">
              <a class="uk-navbar-item" href="/docs">Docs</a>
            </li>

            <li class="uk-active">
              <a class="uk-navbar-item" href="https://play.koto.dev"
                >Playground</a
              >
            </li>

            <li class="uk-active">
              <a class="uk-navbar-item" href="/community">Community</a>
            </li>

            <li class="uk-active">
              <a class="uk-navbar-item" href="https://github.com/koto-lang/koto"
                >GitHub
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
