<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>The Koto Programming Language</title>

    <link rel="stylesheet" href="/main.css" />
    {% block head %} {% endblock head %}
  </head>

  <body>
    <nav class="navbar is-black px-6" role="navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/logo.png" />
          <div class="pl-2">
            Koto
          </div>
        </a>
      </div>

      <div class="navbar-menu is-active">
        <div class="navbar-end">
          <a class="navbar-item" href="/docs"> Docs </a>

          <a class="navbar-item" href="/community"> Community </a>

          <a class="navbar-item" href="https://github.com/koto-lang/koto">
            GitHub
          </a>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">{% block content %} {% endblock %}</div>
    </section>
  </body>
</html>
