{% extends "base.html" %}

{% block content %}

<div class="tile is-ancestor">
    <div class="tile is-parent link-tile">
      <article class="tile is-child notification is-success">
        <p class="title">
          <a href="https://discord.gg/JeV8RuK4CT">
            Discord
          </a>
        </p>
      </article>
    </div>
    <div class="tile is-parent link-tile">
      <article class="tile is-child notification is-warning">
        <p class="title">
          <a href="https://github.com/koto-lang/koto/discussions">
            GitHub Discussions
          </a>
        </p>
      </article>
    </div>
    <div class="tile is-parent link-tile">
      <article class="tile is-child notification is-info">
        <p class="title">
          <a href="https://github.com/koto-lang/koto/blob/HEAD/CODE_OF_CONDUCT.md">
            Code of Conduct
          </a>
        </p>
      </article>
    </div>
</div>

{% endblock content %}
