<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Koto Programming Language</title>

    <link rel="stylesheet" href="/main.css" />

    <link rel="mask-icon" href="/favicon.svg" />
    <link rel="icon" href="/favicon.svg" />

    <script src="/uikit.min.js"></script>
    <script src="/uikit-icons.min.js"></script>

    <script src="/color-scheme.js"></script>

    {% block head %} {% endblock head %}
  </head>

  <body>
    {% include "header.html" %}

    {% block content %} {% endblock %}

    <div id="mobile-nav" uk-offcanvas="overlay: true">
      <div class="uk-offcanvas-bar" id="mobile-nav-contents">
        <div uk-grid class="uk-grid-small">
          <a class="uk-link-muted uk-text-capitalize" href="/docs">Docs</a>
          <a class="uk-link-muted uk-text-capitalize" href="/play">Playground</a>
        </div>

        <div uk-grid class="uk-grid-small">
          <a class="uk-icon-link" uk-icon="discord" href="https://discord.gg/JeV8RuK4CT"></a>
          <a class="uk-icon-link" uk-icon="github" href="https://github.com/koto-lang/koto"></a>

          <a class="uk-icon-link light-switch" uk-icon="" onclick="toggleColorScheme();">
            <img class="light-switch-icon" id="light-switch-icon-mobile-nav"/>
          </a>
        </div>

        <hr>

        {% block mobile_nav %} {% endblock %}
      </div>
    </div>
  </body>
</html>
