{% import "components.html" as components %}
{% set data = load_data(path="templates/data.toml") %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Koto Programming Language</title>

    <link rel="stylesheet" href="/main.css" />

    <link rel="mask-icon" href="/favicon.svg" />
    <link rel="icon" href="/favicon.svg" />

    {% block rss %}
      <link rel="alternate" type="application/atom+xml" title="Feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/fuse.js@7.1.0/dist/fuse.min.js"></script>
    <script src="/uikit.min.js"></script>
    <script src="/uikit-icons.min.js"></script>

    <script src="/color-scheme.js"></script>
    <script defer src="/search.js"></script>

    {% block head %} {% endblock head %}
  </head>

  <body>
    {% include "header.html" %}

    {% block content %} {% endblock %}

    {% include "mobile-nav-start.html" %}
    {% block mobile_nav %} {% endblock %}
    {% include "mobile-nav-end.html" %}

  </body>
</html>
