{% extends "base.html" %} {% block content %}

<div uk-grid class="uk-child-width-expand@m uk-grid-match uk-text-center">
  <div>
    <div class="uk-card uk-card-body uk-card-primary">
      <a href="https://discord.gg/JeV8RuK4CT">
        <span uk-icon="discord"></span>
        Discord
      </a>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-body uk-card-primary">
      <a href="https://github.com/koto-lang/koto/discussions">
        <span uk-icon="github"></span>
        GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="uk-card uk-card-body uk-card-primary">
      <a href="https://github.com/koto-lang/koto/blob/HEAD/CODE_OF_CONDUCT.md">
        <span uk-icon="users"></span>
        Code of Conduct
      </a>
    </div>
  </div>
</div>

{% endblock content %}
