{% extends "docs-base.html" %}

{% block docsnav %}
  {% include "docs-section-nav.html" %}
{% endblock docsnav %}
{% block docsnav_mobile %}
  {% include "docs-section-nav.html" %}
{% endblock docsnav_mobile %}

{% block docscontent %}

{{ section.content | safe }}

{% set page = section.pages | first %}

{% if page %}
  <ul class="uk-pagination">
    <li class="uk-margin-auto-left">
      <a href="{{ page.path }}" class="uk-link-muted">
        Next
        <span class="uk-margin-small-left" uk-pagination-next></span>
      </a>
    </li>
  </ul>
{% endif %}

{% endblock docscontent %}
