<ul class="uk-nav uk-nav-default" id="docs-navbar">
  <div class="uk-hidden@s">
    {% include "version-selector.html" %}
  </div>

  {% set version_section = section.ancestors | last %}

  {% set index = get_section(path = version_section) %}
  {% set versions = get_section(path = index.ancestors | last) %}

  {% for s in index.subsections %}
    {% set subsection = get_section(path=s) %}

    <li class="uk-nav-header{% if current_path == subsection.path %} uk-active{% endif %}">
      <a href="{{ subsection.permalink }}">
        {{ subsection.title }}
      </a>
    </li>

    {% if current_path == subsection.path %}
      <ul class="uk-nav-sub uk-nav-default">
        {% for p in subsection.pages %}
        <li>
          <a href="{{ p.permalink | safe }}">{{ p.title }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</ul>
