{% extends "docs-base.html" %}

{% block docscontent %}

{{ page.content | safe }}

<ul class="uk-pagination">
  {% if page.lighter %}
    {% set other = page.lighter %}

    <li>
      <a href="{{ other.path }}" class="uk-link-muted">
        <span class="uk-margin-small-right" uk-pagination-previous></span>
        Previous
      </a>
    </li>
  {% endif %}

  {% if page.heavier %}
    {% set other = page.heavier %}

    <li class="uk-margin-auto-left">
      <a href="{{ other.path }}" class="uk-link-muted">
        Next
        <span class="uk-margin-small-left" uk-pagination-next></span>
      </a>
    </li>
  {% endif %}
</ul>

{% endblock docscontent %}
