{% extends "base.html" %}

{% block content %}

<div class="uk-section">
  <div class="uk-container">
    <div uk-grid class="uk-child-width-expand@m uk-grid-match uk-text-center">
      {% set index = get_section(path="docs/_index.md") %}

      {% for s in index.subsections %}
      {% set subsection = get_section(path=s) %}

      <div>
        <a class="uk-card uk-card-body uk-card-default uk-link-toggle" href="{{ subsection.permalink }}">
          <span class="uk-card-title uk-link-heading">{{ subsection.title }}</span>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
