{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/docs.css" />
{% endblock head %}

{% block content %}

<nav class="docs-sidebar uk-visible@s" role="navigation">
  {% include "docs-nav-contents.html" %}
</nav>

<div class="docs-section uk-section">
  <div class="uk-container uk-container-small uk-width-expand">
    <div class="uk-align-left uk-width-expand">
      {% block docscontent %} {% endblock %}
    </div>
  </div>
</div>

{% endblock content %}

{% block mobile_nav %}
  {% include "docs-nav-contents.html" %}
</nav>
{% endblock mobile_nav %}
