{% extends "base.html" %}

{% block content %}

<div class="uk-section">
  <div class="uk-container">
    <div uk-grid class="uk-child-width-expand@m uk-grid-match uk-text-center">
      {% set index = get_section(path=section.relative_path) %}

      {% for s in index.subsections | reverse %}
      {% set subsection = get_section(path=s) %}

      <div>
        <a
          class="uk-button uk-button-default uk-button-large uk-text-capitalize"
          href="{{ subsection.permalink }}"
        >
          {{ subsection.title }}
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
