<ul class="uk-nav uk-nav-default">
  {% if page %}
    {% set version_section = page.ancestors | reverse | nth(n = 1) %}
  {% endif %}
  {% if section %}
    {% set version_section = section.ancestors | last %}
  {% endif %}

  {% set index = get_section(path = version_section) %}

  {% for s in index.subsections %}
    {% set subsection = get_section(path=s) %}

    <li class="uk-nav-header{% if current_path == subsection.path %} uk-active{% endif %}">
      <a href="{{ subsection.permalink }}">
        {{ subsection.title }}
      </a>
    </li>

    {% if page %}
      {% set parent_name = page.ancestors | last %}
      {% set parent = get_section(path = parent_name) %}
    {% endif %}

    {% for p in subsection.pages %}
      <li class="{% if current_path == p.path %}uk-active uk-parent{% endif %}">
        {% if current_path == p.path %}
          {% set first_header = p.toc | first %}

          {% if first_header.children | length > 0 %}
            <ul class="uk-nav-sub uk-nav-default">
              {% for h1 in p.toc %}
                {% for h2 in h1.children %}
                <li>
                  <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                </li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
</ul>
