{% extends "base.html" %}

{% block content %}

{% set docs_url = "/docs/" ~ data.latest %}

<section class="uk-section">
  <div class="uk-container uk-text-center uk-padding-large">
    <img class="uk-img main-logo" src="/koto.svg" />

    <div class="uk-text-lead uk-padding uk-padding-remove-bottom">
      A lightweight scripting language for Rust applications.
    </div>

    <div class="uk-padding">
      {{ components::button(label="About", href="/about") }}
      {{ components::button(label="Docs", href=docs_url) }}
      {{ components::button(label="Install", href=docs_url ~ "/cli") }}
      {{ components::button(label="Playground", href="/play-" ~ data.latest) }}
    </div>

    <div class="uk-container uk-width-1-2">
      <div class="uk-text-left">
        {{ section.content | safe }}
      </div>
    </div>
  </div>
</section>

{% endblock content %}
