{% extends "base.html" %}

{% block content %}

<section class="uk-section">
  <div class="uk-container uk-text-center uk-padding-large">
    <img class="uk-img main-logo" src="/koto.svg" />

    <div class="uk-text-lead uk-padding uk-padding-remove-bottom">
      A lightweight scripting language for Rust applications.
    </div>

    <div class="uk-padding">
      <a
        class="uk-button uk-button-default uk-button-large 
               uk-text-capitalize uk-width-1-6"
        href="/docs/next/about/"
      >About</a>
      <a
        class="uk-button uk-button-default uk-button-large 
               uk-text-capitalize uk-width-1-6"
        href="/docs/next/language/"
      >Guide</a>
    </div>

    <div class="uk-container uk-width-1-2">
      <div class="uk-text-left">
        {{ section.content | safe }}
      </div>
    </div>
  </div>
</section>

{% endblock content %}
