<div id="mobile-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar" id="mobile-nav-contents">
    <div uk-grid class="uk-grid-small">
      <a class="uk-link-muted uk-text-capitalize" href={{ "/docs/" ~ data.latest }}>Docs</a>
      <a class="uk-link-muted uk-text-capitalize" href={{ "/play-" ~ data.latest }}>Playground</a>
    </div>

    <div uk-grid class="uk-grid-small">
      <a class="uk-icon-link" uk-icon="discord" href="https://discord.gg/JeV8RuK4CT"></a>
      <a class="uk-icon-link" uk-icon="github" href="https://github.com/koto-lang/koto"></a>

      <a class="uk-icon-link light-switch" uk-icon="" id="light-switch-mobile-nav">
        <img class="light-switch-icon" id="light-switch-mobile-nav-icon"/>
      </a>
    </div>

