body
  background-color: #cccccc
  margin: 0

.container
  height: 100vh
  padding: 20px
  box-sizing: border-box

.playground
  width: 100%
  height: 100%

.flex-horizontal
  display: flex
  flex-direction: row
  flex-wrap: wrap

@media (max-width: 800px)
  .flex-horizontal
    flex-direction: column

.flex-vertical
  display: flex
  flex-direction: column
  flex-wrap: wrap

@media (max-width: 800px)
  .flex-vertical
    flex-direction: column

.flex-1
  flex-grow: 1

.flex-3
  flex-grow: 3

.flex-half
  flex: 50%

.fixed-mono
  font-family: monospace
  resize: none
  margin: 0
  padding: 0
  box-sizing: border-box

.fullsize
  width: 100%
  height: 100%
