name: Update Koto

on:
  repository_dispatch:
    types: [update-koto]

jobs:
  update-koto:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - uses: jetli/trunk-action@v0.4.0
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.5.0,zola@0.18.0

      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Update
        run: |
          cd modules/koto
          git fetch origin
          git checkout origin/main

      - name: Check
        run: |
          cd website
          just build-debug
          just test

      - name: Commit
        run: |
          git add modules/koto
          git commit -m "Update to the latest version of Koto"
          git push

      - name: Deploy
        run: |
          cd website 
          just deploy
